html,body{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    background-color: black;
    color: #0f0;
}
header{
    padding: 0.7em 0;
    text-align: center;
    font-size: 3em;
}
textarea{
    display: inline-block;
    margin: 0;
    padding: 1em 2em;
    min-height: 10em;
    color: #0f0;
    background-color: transparent;
    border: 1px solid #0f0;
    transition: box-shadow 0.2s linear;
    box-sizing: border-box;
    outline: 0;
}
textarea::-webkit-resizer{
    background-image: -webkit-linear-gradient(top left, transparent 65%, #0f0 80%);
    cursor: pointer;
}
textarea:focus{
    /*box-shadow: 0 0 5px #0f0;*/
}
.textarea{
    position: relative;
    display: inline-block;
    margin: 2px;
}
.textarea > textarea{
    overflow: hidden;
    margin-bottom: -4px;
    border: 0;
}
.textarea:before,
.textarea:after{
    content: '';
    position: absolute;
    display: inline-block;
    top: -1px;
    height: 100%;
    width: 0.5em;
    border-color: #0f0;
    border-style: solid;
    z-index: -1;
}
.textarea:before{
    left: -1px;
    border-width: 1px 0 1px 1px;
}
.textarea:after{
    right: -1px;
    border-width: 1px 1px 1px 0;
}
::-webkit-input-placeholder{
    color: #080;
}
::-moz-placeholder{
    color: #080;
}
:-ms-input-placeholder{
    color: #080;
}
button{
    display: inline-block;
    color: #0f0;
    background: none;
    border: 0;
}
button:before{
    content: '';
    display: black;
    background-color: #0f0;
}

.main{
    margin: 0 auto;
    width: 60em;
}
.main .library{
    display: none;
}
