html,body{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    background-color: black;
    color: #0f0;
}
header{
    padding: 0.7em 0;
    text-align: center;
    font-size: 3em;
}
textarea{
    display: inline-block;
    margin: 0;
    padding: 1em 2em;
    min-height: 10em;
    min-width: 25em;
    color: #0f0;
    background-color: transparent;
    border: 1px solid #0f0;
    transition: box-shadow 0.2s linear;
    box-sizing: border-box;
    outline: 0;
}
textarea::-webkit-resizer{
    background-image: -webkit-linear-gradient(top left, transparent 65%, #0f0 80%);
    cursor: pointer;
}
textarea:focus{
    /*box-shadow: 0 0 5px #0f0;*/
}
.textarea{
    position: relative;
    display: inline-block;
    margin: 2px;
}
.textarea > textarea{
    overflow: hidden;
    margin-bottom: -4px;
    border: 0;
}
.textarea:before,
.textarea:after{
    content: '';
    position: absolute;
    display: inline-block;
    top: -1px;
    height: 100%;
    width: 0.5em;
    border-color: #0f0;
    border-style: solid;
    z-index: -1;
}
.textarea:before{
    left: -1px;
    border-width: 1px 0 1px 1px;
}
.textarea:after{
    right: -1px;
    border-width: 1px 1px 1px 0;
}
::-webkit-input-placeholder{
    color: #080;
}
::-moz-placeholder{
    color: #080;
}
:-ms-input-placeholder{
    color: #080;
}
button{
    position: relative;
    display: inline-block;
    padding: 0.5em 1em;
    color: #0f0;
    background: none;
    border: 0;
    outline: 0;
    cursor: pointer;
}
button:before,
button:after{
    content: '';
    position: absolute;
    display: black;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: #0f0;
    opacity: 0;
    transition: all 0.2s linear;
}
button:before{
    left: 50%;
}
button:after{
    right: 50%;
}
button:hover:before{
    left: 0;
    opacity: 1;
}
button:hover:after{
    right: 0;
    opacity: 1;
}
button:active:before,
button:active:after{
    top: 5%;
    height: 90%;
    transition: all 0.1s linear;
}
/*button:active:before{
    left: -5%;
}
button:active:after{
    right: -5%;
}*/

.progress{
    display: inline-block;
    position: relative;
    margin-left: -2em;
    height: 4em;
    width: 4em;
}
.progress > span{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    height: 4em;
    width: 4em;
    text-align: center;
    line-height: 4em;
}
.progress .progress-line{
    position: absolute;
    top: 0;
    left: 0;
    height: 4em;
    width: 4em;
    clip: rect(0, 4em, 4em, 2em);
}
.progress .progress-line.full{
    clip: auto;
}
.progress .progress-line .before,
.progress .progress-line .after{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 1px solid #0f0;
    box-sizing: border-box;
    clip: rect(0, 4em, 4em, 2em);
    transform: rotate(-180deg);
}
.progress .progress-line.full .before{
    transform: rotate(0deg) !important;
}
.progress .progress-line.full .after{
    transform: rotate(180deg);
    z-index: -1;
}

input{
    text-align: center;
}

.main{
    margin: 0 auto;
    width: 60em;
}
.line-box{
    display: -webkit-flex;
    margin: 3em 0;
    /*-webkit-box-pack: center;*/
    align-items: center;
    -webkit-justify-content: space-around;
}

.main .library{
    display: none;
}
