html,body{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    background-color: black;
    color: #0f0;
}
header{
    padding: 0.7em 0;
    text-align: center;
    font-size: 3em;
}
textarea{
    color: #0f0;
    background-color: transparent;
    border: 1px solid #0f0;
    transition: box-shadow 0.2s linear;
    outline: 0;
}
textarea:focus{
    box-shadow: 0 0 5px #0f0;
}

.main{
    
}
